@import "tailwindcss";

@source "../src/*.purs";

* {
  box-sizing: border-box !important;
  --smooth-corners: 4;
}

pre {
  white-space: pre-wrap;
}


.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #111;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  position: relative;
  font-optical-sizing: auto;
  font-family: "Source Sans Pro";
  color: var(--color-stone-900);
  background-color: var(--color-stone-300);
}

a {
  text-decoration-thickness: 0.144rem;
  text-wrap: balance;
}


.candy {
  background-image: linear-gradient(-45deg,
      rgba(255, 255, 255, 0.5) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.5) 50%,
      rgba(255, 255, 255, 0.5) 75%,
      transparent 75%,
      transparent);
  z-index: 1;
  overflow: hidden;
  background-size: 2rem 2rem;
  animation: candy 2s linear infinite;
  transition: all 400ms ease-in-out;
  will-change: background-position, transform;
}

@keyframes candy {
  0% {
    background-position: 2rem 2rem;
  }

  100% {
    background-position: 0 0;
  }
}

pre {
  overflow-x: auto;
}